@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
}

.topbar {
    background-image: url("background.jpg");
    background-size: cover;
    height: 58rem;
    width: 100%;

    display: flex;
    align-content: center;
    flex-direction: row-reverse;
    align-items: center;

    box-shadow: #4c4c4c 0px 0px 15px 0px;
}

.legend {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    margin-right: 10rem;
    font-weight: 400;
    text-shadow: 3px 3px 6px #101010;
    color: yellow;
}

.legend p {
    margin: 0;
}
.legend .simple {
    font-size: 70px;
}

.legend .form {
    font-size: 43px;
}

.legend .sophi {
    font-size: 60px;
}

.introblock {
    padding: 5rem 10rem;
}

@media only screen and (max-width: 768px) {
    .topbar {
        height: 33rem !important;
    }
    .legend .simple {
        font-size: 2rem;
    }
    
    .legend .form {
        font-size: 1.1rem;
    }
    
    .legend .sophi {
        font-size: 1.8rem;
    }

    .introblock {
        padding: 5rem 2rem;
    }
    .introduction .name {
        margin-bottom: 1rem;
    }
    .introduction .description {
        font-size: 23px !important;
    }
    .footer-link {
        display: contents;
    }
}

.footer-link-area {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.footer-link-area a {
    color: black;
}

.footer-link-area a:hover {
    color: rgb(77, 77, 77);
}

.img-footer-link:hover {
    filter: invert(0.7);
}

.footer-link > svg , img {
    margin-right: 1rem;
    width: 60px;
}

.img-footer-link {
    user-select: none;
	background-image: url("https://nurio.me/assets/img/mal-icon-b.png");
	background-size: 60px 60px;
	margin-top: 4.6px;
	filter: invert(1);
}


.introduction {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: 400;
    text-shadow: 1px 1px 1px #1010106e;
    color: black;
}

.introduction p {
    margin: 0;
}
.introduction .name {
    font-size: 50px;
}

.introduction .description {
    font-size: 25px;
}
