@import url('style.css');

.topbar {
    height: 38rem;
    color: white;

    background-color: #464646;

    display: flex;
    align-content: center;
    align-items: center;

    box-shadow: #4c4c4c 0px 0px 15px 0px;
}

.topbar-center {
    display: flex;
    width: 58rem;
    margin: auto;
}

.profilepic {
    height: 27rem;
    width: auto;
    border-radius: 40px;
    margin-right: 2rem;
}

.name {
    align-content: center;
}

.icon {
    width: 40px;
}

.legend {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    margin-right: 10rem;
    font-weight: 400;
    text-shadow: 3px 3px 6px #101010;
    color: yellow;
}

.legend p {
    margin: 0;
}
.legend .simple {
    font-size: 70px;
}

.legend .form {
    font-size: 43px;
}

.legend .sophi {
    font-size: 60px;
}

.introblock {
    padding: 5rem 0;
}

.continuereading a {
    color: black;
    text-decoration: none;
}
.continuereading a:hover {
    color: rgb(49, 49, 49);
    text-decoration: underline;
}

.footer-link-area {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.footer-link-area a {
    color: white;
}

.footer-link-area a:hover {
    filter: invert(0.2);
}

.img-footer-link:hover {
    filter: invert(0.2);
}

.footer-link > svg , .footer-link > img {
    margin-right: 1rem;
    width: 60px;
}

.img-footer-link {
    user-select: none;
	background-image: url("https://i.imgur.com/NkMdwx0.png");
	background-size: 60px 60px;
	margin-top: 4.6px;
}

.section {
    width: 63rem;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .topbar {
        height: unset !important;
        min-height: 60rem !important;
    }
    .topbar-center {
        flex-direction: column; /* stack vertically */
        align-items: center;    /* center items horizontally */
        text-align: center;     /* center text for better look */
    }

    .profilepic {
        margin-right: 0;  /* remove side margin */
        margin-bottom: 1rem; /* add space below the image */
        height: auto; /* optional: make it scale naturally */
        max-width: 80%; /* avoid overflowing screen */
    }

    .name {
        align-content: center;
    }
    .topbar-center {
        display: flex;
        width: 90vw;
    }
    .legend .simple {
        font-size: 2rem;
    }
    
    .legend .form {
        font-size: 1.1rem;
    }
    
    .legend .sophi {
        font-size: 1.8rem;
    }

    .gohomeblock {
        padding: 2rem 2rem;
    }

    .introblock {
        padding: 5rem 2rem;
    }
    .introduction .name {
        margin-bottom: 1rem;
    }
    .introduction .content {
        font-size: 23px !important;
    }
    .footer-link {
        display: contents;
    }
    .footer-link-area {
        justify-content: center;
    }
    .section {
        width: unset;
        margin: unset;
    }
}