@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 1px #1010106e;
    color: black;
}


.section p {
    margin: 0;
}

.section .title {
    font-size: 50px;
}

.section .content {
    font-size: 25px;
}

@media only screen and (max-width: 768px) {
    .section .content {
        font-size: 23px !important;
    }
}